<h2>Cakes</h2>
<div class="cakes-container">
<div id="cakes">
  <p><img id="cake-img" src="https://image.freepik.com/free-photo/cake-slice-cream-vanilla-cake-slice-white-plate-coconut-cake-milk-dessert-coffee-shop_73523-229.jpg"></p>
  <p id="cake-type"><%= $cake1.cake_name %></p>
  <p id="cake-descrip"><%= $cake1.cake_price %></p>
  <p id="cake-descrip"><%= $cake1.cake_description %></p>
</div>
<div id="cakes">
  <p><img id="cake-img" src="https://www.christinebailey.co.uk/wp-content/uploads/2015/01/chocolate-cake-slice-e1448521562644.jpg"></p>
  <p id="cake-type"><%= $cake2.cake_name %></p>
  <p id="cake-descrip"><%= $cake2.cake_price %></p>
  <p id="cake-descrip"><%= $cake2.cake_description %></p>
</div>
<div id="cakes">
  <p><img id="cake-img" src="https://beyondfrosting.com/wp-content/uploads/2018/04/NO-BAKE-OREO-CHEESECAKE-024.jpg"></p>
  <p id="cake-type"><%= $cake3.cake_name %></p>
  <p id="cake-descrip"><%= $cake3.cake_price %></p>
  <p id="cake-descrip"><%= $cake3.cake_description %></p>
</div>
<div id="cakes">
  <p><img id="cake-img" src="https://spicysouthernkitchen.com/wp-content/uploads/strawberry-twinkie-cake-6.jpg"></p>
  <p id="cake-type"><%= $cake4.cake_name %></p>
  <p id="cake-descrip"><%= $cake4.cake_price %></p>
  <p id="cake-descrip"><%= $cake4.cake_description %></p>
</div>
<div id="cakes">
  <p><img id="cake-img" src="https://realhousemoms.com/wp-content/uploads/Strawberry-Cheesecake-IG.jpg"></p>
  <p id="cake-type"><%= $cake5.cake_name %></p>
  <p id="cake-descrip"><%= $cake5.cake_price %></p>
  <p id="cake-descrip"><%= $cake5.cake_description %></p>
</div>
<div id="cakes">
  <p><img id="cake-img" src="https://www.rockrecipes.com/wp-content/uploads/2013/09/Lemon-Velvet-Cake-close-up-photo-of-single-slice-on-white-plate.jpg"></p>
  <p id="cake-type"><%= $cake6.cake_name %></p>
  <p id="cake-descrip"><%= $cake6.cake_price %></p>
  <p id="cake-descrip"><%= $cake6.cake_description %></p>
</div>
</div>
