<h2>Cookies</h2>
<div class="cookies-container">
<div id="cookies">
<p><img id="cookie-img" src="http://veggieandthebeastfeast.com/wp-content/uploads/2013/07/IMG_1001-3-768x1024.jpg"></p>
<p id="cookie-type"><%= $cookie1.cookie_name %></p>
<p id="cookie-descrip"><%= $cookie1.cookie_price %></p>
<p id="cookie-descrip"><%= $cookie1.cookie_description %></p>
</div>
<div id="cookies">
<p><img id="cookie-img" src="https://www.landolakes.com/RecipeManagementSystem/media/Recipe-Media-Files/Recipes/Retail/x17/18134-five-star-chocolate-chip-cookies-600x600.jpg?ext=.jpg"></p>
<p id="cookie-type"><%= $cookie2.cookie_name %></p>
<p id="cookie-descrip"><%= $cookie2.cookie_price %></p>
<p id="cookie-descrip"><%= $cookie2.cookie_description %></p>
</div>
<div id="cookies">
<p><img id="cookie-img" src="https://static1.squarespace.com/static/5287fa22e4b0f296720af5f7/t/55ab0fd3e4b04a7449c098ea/1437274069848/bakery+style+large%2C+soft-baked+confetti+cookies."></p>
<p id="cookie-type"><%= $cookie3.cookie_name %></p>
<p id="cookie-descrip"><%= $cookie3.cookie_price %></p>
<p id="cookie-descrip"><%= $cookie3.cookie_description %></p>
</div>
<div id="cookies"><p>
<img id="cookie-img" src="https://s3.amazonaws.com/finecooking.s3.tauntonclud.com/app/uploads/2017/04/18171620/051109w-chewy-sugar-cookies-main.jpg"></p>
<p id="cookie-type"><%= $cookie4.cookie_name %></p>
<p id="cookie-descrip"><%= $cookie4.cookie_price %></p>
<p id="cookie-descrip"><%= $cookie4.cookie_description %></p>
</div>
<div id="cookies">
<p><img id="cookie-img" src="https://www.meals.com/imagesrecipes/131144lrg.jpg"></p>
<p id="cookie-type"><%= $cookie5.cookie_name %></p>
<p id="cookie-descrip"><%= $cookie5.cookie_price %></p>
<p id="cookie-descrip"><%= $cookie5.cookie_description %></p>
</div>
<div id="cookies">
<p><img id="cookie-img" src="https://www.shugarysweets.com/wp-content/uploads/2019/02/lemon-gooey-butter-cookies-3.jpg"></p>
<p id="cookie-type"><%= $cookie6.cookie_name %></p>
<p id="cookie-descrip"><%= $cookie6.cookie_price %></p>
<p id="cookie-descrip"><%= $cookie6.cookie_description %></p>
</div>
</div>
