<h2>Baking Events Near You</h2>

<div class="events-container">
<div class="event-stuff">
<div id="event-information">
<p id="title"><strong><%= $req["events"][4]["name"]["text"] %></strong></p>
<p><%= $req["events"][4]["description"]["text"] %></p>
<p id="event-time"><%= $req["events"][4]["start"]["local"] %></p>
</div>
<div id="event-image">
<p><img id="events" src="<%= $req["events"][4]["logo"]["original"]["url"]%>"></p>
</div>
</div>
<div class="event-stuff">
  <div id="event-information">
<p id="title"><strong><%= $req["events"][5]["name"]["text"] %></strong></p>
<p><%= $req["events"][5]["description"]["text"] %></p>
<p id="event-time"><%= $req["events"][5]["start"]["local"] %></p>
</div>
<div id="event-image">
<p><img id="events" src="<%= $req["events"][5]["logo"]["original"]["url"]%>"></p>
</div>
</div>
<div class="event-stuff">
  <div id="event-information">
<p id="title"><strong><%= $req["events"][11]["name"]["text"] %></strong></p>
<p><%= $req["events"][11]["description"]["text"] %></p>
<p id="event-time"><%= $req["events"][11]["start"]["local"] %></p>
</div>
<div id="event-image">
<p><img id="events" src="<%= $req["events"][11]["logo"]["original"]["url"]%>"></p>
</div>
</div>
<div class="event-stuff">
  <div id="event-information">
<p id="title"><strong><%= $req["events"][7]["name"]["text"] %></strong></p>
<p><%= $req["events"][7]["description"]["text"] %></p>
<p id="event-time"><%= $req["events"][7]["start"]["local"] %></p>
</div>
<div id="event-image">
<p><img id="events" src="<%= $req["events"][7]["logo"]["original"]["url"]%>"></p>
</div>
</div>
<div class="event-stuff">
  <div id="event-information">
<p id="title"><strong><%= $req["events"][8]["name"]["text"] %></strong></p>
<p><%= $req["events"][8]["description"]["text"] %></p>
<p id="event-time"><%= $req["events"][8]["start"]["local"] %></p>
</div>
<div id="event-image">
<p><img id="events" src="<%= $req["events"][8]["logo"]["original"]["url"]%>"></p></div>
</div>
<div class="event-stuff">
  <div id="event-information">
<p id="title"><strong><%= $req["events"][10]["name"]["text"] %></strong></p>
<p><%= $req["events"][10]["description"]["text"] %></p>
<p id="event-time"><%= $req["events"][10]["start"]["local"] %></p>
</div>
<div id="event-image">
<p><img id="events" src="<%= $req["events"][10]["logo"]["original"]["url"]%>"></p>
</div>
</div>

</div>
