<h2>Muffins</h2>
<div class="muffins-container">
<div id="muffins">
  <p><img id="muffin-img" src="http://ukcdn.ar-cdn.com/recipes/port250/7f471f3a-c12c-462b-b5ec-adc6f949d5ab.jpg"></p>
  <p id="muffin-type"><%= $muffin1.muffin_name %></p>
  <p id="muffin-descrip"><%= $muffin1.muffin_price %></p>
  <p id="muffin-descrip"><%= $muffin1.muffin_description %></p>
</div>
<div id="muffins">
  <p><img id="muffin-img" src="https://www.tasteofhome.com/wp-content/uploads/2018/01/Wild-Blueberry-Muffins_EXPS_FTTMZ19_787_B03_05_7b_rms-696x696.jpg"></p>
  <p id="muffin-type"><%= $muffin2.muffin_name %></p>
  <p id="muffin-descrip"><%= $muffin2.muffin_price %></p>
  <p id="muffin-descrip"><%= $muffin2.muffin_description %></p>
</div>
<div id="muffins">
  <p><img id="muffin-img" src="https://az809444.vo.msecnd.net/image/3994487/0x382/0/muffinvanillabananawalnutmuffinsjpg.jpg"></p>
  <p id="muffin-type"><%= $muffin3.muffin_name %></p>
  <p id="muffin-descrip"><%= $muffin3.muffin_price %></p>
  <p id="muffin-descrip"><%= $muffin3.muffin_description %></p>
</div>
<div id="muffins">
  <p><img id="muffin-img" src="https://bake-eat-repeat.com/wp-content/uploads/2016/09/Apple-Muffins-Cinnamon-Crumb-Topping-4-1024x683.jpg"></p>
  <p id="muffin-type"><%= $muffin4.muffin_name %></p>
  <p id="muffin-descrip"><%= $muffin4.muffin_price %></p>
  <p id="muffin-descrip"><%= $muffin4.muffin_description %></p>
</div>
<div id="muffins">
  <p><img id="muffin-img" src="https://i2.wp.com/agavemad.com/wp-content/uploads/2017/03/cornbread-muffins.jpg?fit=1000%2C769&ssl=1"></p>
  <p id="muffin-type"><%= $muffin5.muffin_name %></p>
  <p id="muffin-descrip"><%= $muffin5.muffin_price %></p>
  <p id="muffin-descrip"><%= $muffin5.muffin_description %></p>
</div>
<div id="muffins">
  <p><img id="muffin-img" src="https://greedyeats.com/wp-content/uploads/2018/08/Jumbo-strawberry-muffin-recipe.jpg"></p>
  <p id="muffin-type"><%= $muffin6.muffin_name %></p>
  <p id="muffin-descrip"><%= $muffin6.muffin_price %></p>
  <p id="muffin-descrip"><%= $muffin6.muffin_description %></p>
</div>
</div>
